<div>
    {{#each animal}}
 <tr>
    <td>{{this.image_url}}</td>
    <td>{{this.animal_name}}</td>
    <td>{{this.species_name}}</td>
    <td>{{this.gender}}</td>
    <td>{{this.age}}</td> 
    <td>{{this.mating_status}}</td>


    <!-- this button neeed to call the anmals.handlebars page when on the index page, but call the put route when on the animals.handlebar page -->
    <a href="/animal?animal_id=" + {{this.id}}><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> Mate</button></a>

</tr>
   {{/each}}
  </div>