<table>
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Gender</th>
        <th>Age</th>
        <th></th>
    </tr>


    {{#each animal}}
 <tr>
    <td>{{this.animal_name}}</td>
    <td>{{this.species_name}}</td>
    <td>{{this.gender}}</td>
    <td>{{this.age}}</td>
    <td> <a href="/api/mates/animal_id?animal_id={{this.id}}&mate_name={{this.animal_name}}"><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> Mate</button></a> </td>

</tr>
   {{/each}}
</table>