<div>
    {{#each animal}}
 <tr>
    <td>{{this.image_url}}</td>
    <td>{{this.animal_name}}</td>
    <td>{{this.species_name}}</td>
    <td>{{this.gender}}</td>
    <td>{{this.age}}</td> 
    <td>{{this.mating_status}}</td>

    <!-- this button need to call the animals.handlebars page when on the index page, but call the put route when on the animals.handlebar page -->
    <td><button type="button" class="btn btn-primary btn-sm">Mate</button></td>
</tr>
   {{/each}}
  </div>