<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zoomates</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../app/public/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            ZooMates
        </a>
    </nav>
    <div class="jumbotron-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../public/assets/images/1_cheetah_Dunia.jpg" alt="cheetah">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../public/assets/images/1_tiger_Daphne.jpg" alt="tiger">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../public/assets/images/1_polarbear_Rudik.jpg" alt="polar bear">
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="display-1">Zoo Name</h1>
            <p class="lead">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo
                luctus.
            </p>
            <address>Cleveland Metroparks Zoo<br>
                Something Pearl Road<br>
                Cleveland, OH 44109<br><br>
                <p><strong>Contact Name:</strong> Marky Mark<br>
                    (216)439-1586<br>
                    <a href="mailto:fuckmymonkey@clevelandzoo.com">Email Us</a></p>
            </address>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Species</th>
                            <th scope="col">Gender</th>
                            <!-- <th scope="col">Birthdate</th>
                    <th scope="col">Age</th> -->
                            <th scope="col">Mating Status</th>
                            <th scope="col"></th>
                            <!-- <th scope="col">Mom</th>
                    <th scope="col">Dad</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{this.image_url}}</td>
                            <td>{{this.animal_name}}</td>
                            <td>{{this.species_name}}</td>
                            <td>{{this.gender}}</td>
                            <!-- <td>{{this.birth_date}}</td>
                    <td>{{this.age}}</td> -->
                            <td>{{this.mating_status}}</td>
                            <!-- <td>{{this.mom_name}}</td>
                    <td>{{this.dad_name}}</td> -->
                            <td><button type="button" class="btn btn-primary btn-sm">Mate!</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <h1>Animals</h1>
{{#each view_animals}}

<ul>
    <li>
        <p>{{this.image_url}}</p>
        <p>{{this.animal_name}}</p>
        <p>{{this.species_name}}</p>
        <p>{{this.gender}}</p>
        <p>{{this.birth_date}}</p>
        <p>{{this.age}}</p>
        <p>{{this.mating_status}}</p>
        <p>{{this.mom_name}}</p>
        <p>{{this.dad_name}}</p>
    </li>
</ul>
{{/each}} -->
        </div>
    </div>

</body>


</html>