{{#each zoos}}
<h1>{{this.zoo_name}}</h1>

<ul>
    <li>
        <p>{{this.id}}. {{this.zoo_name}}</p>
        <p>{{this.address}}</p>
        <p>{{this.city}}, {{this.state}} {{this.zip_code}}</p>
        <p>{{this.phone}}</p>
        <p>{{this.contact_name}}</p>
    </li>
</ul>
{{/each}}